{% extends 'layout.html' %} 
{% block head %}
  <link rel="stylesheet" href="/nhsuk-frontend/nhsuk-frontend.min.css">
  <link rel="stylesheet" href="/assets/sass/main.css">
  {% endblock %}
  {% block header %}
  {% from "header/macro.njk" import header %}

{{ header({
  logo: {
    href: "#",
    ariaLabel: "Prescription administration tool homepage"
  },
  service: {
    text: "Prescription admin tool",
    href: "#"
  },
  account: {
    items: [
      {
        text: "Florence Nightingale (Regional Manager)",
        icon: true
      },
      {
        text: "Change role",
        href: "#"
      },
      {
        text: "Log out",
        href: "#"
      }
    ]
  },
  navigation: {
    items: [
      {
        text: "Change nominated pharmacy",
        href: "/admintoolV1/start-page",
        active:"true"
      },
      {
        text: "Nominations processing",
        href: "/admintoolV1/processing-page"
      }
    ]
  }
}) }}

{% endblock %}
  

  
{% block pageTitle %} Create a test prescription
{%endblock %} 
{% block beforeContent %} {{ breadcrumb({ href: "/", text: "Home" })
}} 
{% endblock %} 
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full-width">
 
    <div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
     Change nominated pharmacy
    </h2>
    <p class="nhsuk-card__description">Upload a file of NHS numbers to change the nominated pharmacy for patients in bulk. </p>
  <form action="/admintoolV1/check-details" novalidate>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--s" for="ServiceNowNumber">
              Service Now reference number
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="ServiceNowNumber" name="ServiceNowNumber" type="text" value="{{ data.ServiceNowNumber }}">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label nhsuk-label--s" for="NewODSCode">
              New ODS code
            </label>
            <input class="nhsuk-input nhsuk-input--width-10" id="NewODSCode" name="NewODSCode" type="text" value="{{ data.NewODSCode }}">
          </div>

<div class="nhsuk-form-group nhsuk-file-upload" data-module="nhsuk-file-upload">
  <h1 class="nhsuk-label-wrapper">
    <label class="nhsuk-label nhsuk-label--s" for="file-hint">
      Upload file of NHS numbers
    </label>
  </h1>
  <input class="nhsuk-file-upload__input" id="file-hint" name="file-hint" type="file">
</div>

       


          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Save and continue
          </button>

        </form>
 
  </div>
 
</div>
  </div>
</div>
{% endblock %}
