<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "prototype-kit-template.njk" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block head %}
  <link rel="stylesheet" href="/nhsuk-frontend/nhsuk-frontend.min.css">
  <link rel="stylesheet" href="/assets/sass/main.css">
{% endblock %}


<!-- Set the page title -->
{% block pageTitle %} NHS.UK prototype kit {% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %} {{ header({ "service": { "name": "Create a test
prescription", "href": "/" }, "showNav": "true", "showSearch": "false",
"primaryLinks":[{ "url" : "/v2/start-page", "label" : "Home"},{ "url" :
"/my-prescriptions", "label" : "My prescriptions"},{ "url" : "/index", "label" :
"Log out"}] }) }} {% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %} {{ footer({ "links": [ { "URL": "/", "label": "Home" }, {
"URL": "/page-example", "label": "Example page" } ] })}} {% endblock %} 
{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>

  {% include "includes/scripts.html" %}

  {% block pageScripts %}{% endblock %}
{% endblock %}