{% extends 'layout.html' %} 
{% block head %}
  <link rel="stylesheet" href="/nhsuk-frontend/nhsuk-frontend.min.css">
  <link rel="stylesheet" href="/assets/sass/main.css">
  {% endblock %}
  {% block header %}
  {% from "header/macro.njk" import header %}

{{ header({
  logo: {
    href: "#",
    ariaLabel: "Prescription administration tool homepage"
  },
  service: {
    text: "Prescription admin tool",
    href: "#"
  },
  account: {
    items: [
      {
        text: "Florence Nightingale (Regional Manager)",
        icon: true
      },
     
      {
        text: "Log out",
        href: "#"
      }
    ]
  },
  navigation: {
    items: [
  {
        text: "Transfer or remove NHS numbers",
        href: "/admintoolV2/start-page",
        active:"true"
      },
      {
        text: "History",
        href: "/admintoolV2/processing-page"
      }
    ]
  }
}) }}

{% endblock %}
  

  
{% block pageTitle %} Create a test prescription
{%endblock %} 
{% block beforeContent %} {{ breadcrumb({ href: "/", text: "Home" })
}} 
{% endblock %} 
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
 
    <div class="nhsuk-card">
    <!-- Remove journey content-->
   {% if data.nominationAction == "remove" %}
    <div class="nhsuk-card__content">
 

    <h2 class="nhsuk-card__heading nhsuk-heading-m">
    You are going to remove 10,000 NHS numbers from pharmacy code {{ data.OldODSCodeRem }}
    </h2>
    
    <div class="nhsuk-button-group">
        <a class="nhsuk-button" href="/admintoolV2/change-submitted">
        Confirm removal
        </a>

        <a class="nhsuk-button nhsuk-button--secondary" href="/admintoolV2/clear-and-start">
        Cancel
        </a>

    </div>


 
  </div>
{% elif data.nominationAction == "change" %}
    <div class="nhsuk-card__content">
 

    <h2 class="nhsuk-card__heading nhsuk-heading-m">
     Check transfer details 
    </h2>
   <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      ServiceNow number
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data.ServiceNowNumber }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="/admintoolV2/start-page">Change<span class="nhsuk-u-visually-hidden"> name</span></a>
    </dd>
  </div>
      <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Current pharmacy code
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data.OldODSCode }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="/admintoolV2/start-page">Change<span class="nhsuk-u-visually-hidden"> date of birth</span></a>
    </dd>
  </div>

  <!--Nhs numbers not needed -->
  <!--
   <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Number of NHS numbers to transfer
    </dt>
    <dd class="nhsuk-summary-list__value">
      10,000
    </dd>
    <dd class="nhsuk-summary-list__actions">
      
    </dd>
  </div>

-->
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      New pharmacy code
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data.NewODSCode }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="/admintoolV2/start-page">Change<span class="nhsuk-u-visually-hidden"> date of birth</span></a>
    </dd>
  </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      File of nhs numbers
    </dt>
    <dd class="nhsuk-summary-list__value">
      nhsNumbers.csv
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="/admintoolV2/start-page">Change<span class="nhsuk-u-visually-hidden"> date of birth</span></a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Date and time of transfer
    </dt>
    <dd class="nhsuk-summary-list__value">
      {{ data.transferDate }} at {{ data.transferTime }}
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a class="nhsuk-link" href="/admintoolV2/start-page">Change<span class="nhsuk-u-visually-hidden"> contact information</span></a>
    </dd>
  </div>
 
</dl>

<div class="nhsuk-button-group">
  <a class="nhsuk-button" href="/admintoolV2/change-submitted">
  Confirm and start transfer 
</a>
<a class="nhsuk-button nhsuk-button--secondary" href="/admintoolV2/clear-and-start">
  Cancel
</a>
</div>


 
  </div>
{% endif %}  

 
</div>
  </div>
</div>
{% endblock %}
