{% extends 'layout.html' %} 
{% block head %}
  <link rel="stylesheet" href="/nhsuk-frontend/nhsuk-frontend.min.css">
  <link rel="stylesheet" href="/assets/sass/main.css">
  {% endblock %}
  {% block header %}
  {% from "header/macro.njk" import header %}

{{ header({
  logo: {
    href: "#",
    ariaLabel: "Prescription administration tool homepage"
  },
  service: {
    text: "Prescription admin tool",
    href: "#"
  },
  account: {
    items: [
      {
        text: "Florence Nightingale (Regional Manager)",
        icon: true
      },
   
      {
        text: "Log out",
        href: "#"
      }
    ]
  },
  navigation: {
    items: [
      {
        text: "Transfer or remove NHS numbers",
        href: "/admintoolV2/start-page"
      },
      {
        text: "History",
        href: "/admintoolV2/processing-page",
        active:"true"
      }
    ]
  }
}) }}

{% endblock %}
  

  
{% block pageTitle %} Create a test prescription
{%endblock %} 
{% block beforeContent %} {{ breadcrumb({ href: "/", text: "Home" })
}} 
{% endblock %} 
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full-width">


<div class="nhsuk-tabs" data-module="nhsuk-tabs">
  <h2 class="nhsuk-tabs__heading">
    Contents
  </h2>
  <ul class="nhsuk-tabs__list">
    <li class="nhsuk-tabs__list-item nhsuk-tabs__list-item--selected">
      <a class="nhsuk-tabs__tab" href="#transfers">
        Transfers
      </a>
    </li>
    <li class="nhsuk-tabs__list-item">
      <a class="nhsuk-tabs__tab" href="#removals">
        Removals
      </a>
    </li>
  </ul>

  <div class="nhsuk-tabs__panel" id="transfers">
    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">
        Transfers
      </caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col">
            Date
          </th>
          <th class="nhsuk-table__header" scope="col">
            ServiceNow number
          </th>
          <th class="nhsuk-table__header" scope="col">
            Old Pharmacy code
          </th>
          <th class="nhsuk-table__header" scope="col">
            New Pharmacy code
          </th>
          <th class="nhsuk-table__header" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            David Francis
          </td>
          <td class="nhsuk-table__cell">
            3
          </td>
          <td class="nhsuk-table__cell">
            0
          </td>
            <td class="nhsuk-table__cell">
            3
          </td>
            <td class="nhsuk-table__cell">
            3
          </td>
        </tr>
       
      </tbody>
    </table>
  </div>
  <div class="nhsuk-tabs__panel nhsuk-tabs__panel--hidden" id="removals">
    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">
        Removals
      </caption>
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col">
            Date
          </th>
          <th class="nhsuk-table__header" scope="col">
            ServiceNow number
          </th>
          <th class="nhsuk-table__header" scope="col">
            Pharmacy code
          </th>
           <th class="nhsuk-table__header" scope="col">
            NHS numbers removed
          </th>
          <th class="nhsuk-table__header" scope="col">
            Action
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">
            David Francis
          </td>
          <td class="nhsuk-table__cell">
            24
          </td>
          <td class="nhsuk-table__cell">
            18
          </td>
            <td class="nhsuk-table__cell">
            18
          </td>
          <td class="nhsuk-table__cell">
            18
          </td>
        </tr>
        
        
      </tbody>
    </table>
  </div>

 
</div>





 
    
  </div>
</div>
{% endblock %}
